<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <!--General-->
    <add key="CompressVideo" value="false"/>
    <add key="Username" value="Cloud Gamer 2024"/>
    <add key="LoggingDirectory" value="C:\Users\bryan\Documents\Highlight Uploader Logs"/>
    <!--Highlight Video-->
    <add key="VideoDirectory" value="C:\Game Clips"/>
    <add key="IncludeSubDirectories" value="true"/>
    <add key="ParentDirectoryIsGameName" value="true"/>
    <!--Imgur-->
    <add key="Imgur:ClientId" value="abcd1234"/>
    <add key="Imgur:ClientSecret" value="abcd1234"/>
    <add key="Imgur:RefreshToken" value="abcd1234"/>
    <add key="Imgur:ProcessingSecondsPollRate" value="10"/>
    <add key="Imgur:CurrentAccessToken" value=""/>
    <add key="Imgur:CurrentAccessTokenExpiration" value=""/>
    <!--Discord-->
    <add key="Discord:WebhookUrl" value="https://discord.com/api/webhooks/1234/abcd"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>